@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #1d2129;
    scroll-behavior: smooth;
}


body {
    
    /* background:linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid 1px rgba(222, 218, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37); */
    background-color: #1d2129;
    scroll-behavior: smooth;
    bottom: 0;
}





